# exclude all
/*

# need gradle 
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties
!settings.gradle

# include sourcecode
!gnes-common/
!gnes-forge/
!gnes-sponge/

# include markdowns
!README.md
!LICENSE

# include git important files
!.gitmodules
!.gitignore
